<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NetworkExam/src/kr/ac/sku/thread/WaitThreadTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kr.ac.sku.thread.WaitThreadTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NetworkExam"/>
</launchConfiguration>
